<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Variables @PathVariable</title>
</head>
<body>
<h1> Send Params with @PathVariable HTTP - GET </h1>
<ul>
    <li>
        <a th:href="@{/variables/string/} + ${'Only a Param'}" target="_blank">/variables/string/{variable}</a>
    </li>
    <li>
        <a th:href="@{/variables/string/} + ${'Hello, I am a String'} + '/' + ${34}" target="_blank">
            /variables/string/{variableString}/{otherVariable}
        </a>
    </li>
</ul>
</body>
</html>