<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <!-- th: Variable: text: Parameter from Controller. -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 class="color-rojo"> Hello, Spring! </h1>
    <h2 class="color-azul">My first Spring Web Server! :)</h2>
    <p th:text="${title}"></p>
    <img th:src="@{/img/github.jpg}" alt="photo" width="200px">

    <!--- Redirect with Spring --->
    <a th:href="@{/google}"> Go to Somewhere! </a>

    <!-- Show info @ModelAttribute ("users") -->
    <table th:if="${!users.isEmpty()}" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <!-- FOR EACH -->
    <tr th:each="user : ${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.email}"></td>
    </tr>
    </tbody>
  </table>
</body>
</html>